*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    display: flex;
   gap: 10px;
   align-items: center;
  

}
ul li{
    font-size: 15px;
}
.nav{
    background-color: rgb(253, 215, 165);
    padding: 10px;
}