*{
  margin: 0;
  padding: 0;
}

nav{
  background-color: black;
  color: white;
}
ul{
  display: flex;
  gap: 30px;
  font-size: 22px;
  padding: 20px;
}
ul li {
  list-style: none;
  color: white;
  
}
ul a{
  text-decoration: none;
}
.red{
   background: red;
}