body{
  background: #535252;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.hover{
  background: #0e29d9;
  width: 330px;
  height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
}